In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv('dataset.csv')

In [3]:
movies.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [4]:
movies.head(10)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1.747999e+08,1.385749e+09
5,281957,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,http://www.foxmovies.com/movies/the-revenant,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)",...,"In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,1.241999e+08,4.903142e+08
6,87101,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,http://www.terminatormovie.com/,Alan Taylor,Reset the future,...,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015,1.425999e+08,4.053551e+08
7,286217,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,http://www.foxmovies.com/movies/the-martian,Ridley Scott,Bring Him Home,...,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015,9.935996e+07,5.477497e+08
8,211672,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,http://www.minionsmovie.com/,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses",...,"Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015,6.807997e+07,1.064192e+09
9,150540,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,http://movies.disney.com/inside-out,Pete Docter,Meet the little voices inside your head.,...,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,1.609999e+08,7.854116e+08

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [6]:
movies.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

Feature Selection

In [7]:
movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [8]:
movies=movies[['id','original_title','genres','overview']]

In [9]:
movies.head()

,id,original_title,genres,overview
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...

In [10]:
movies['Tags']=movies['genres']+movies['overview']

In [11]:
movies.head()

,id,original_title,genres,overview,Tags
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|ThrillerTwent...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|ThrillerAn ap...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|ThrillerBeatrice Pri...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|FantasyThirty...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|ThrillerDeckard Shaw seeks reveng...

In [12]:
new_data=movies.drop(columns=['Tags','overview'])

In [13]:
new_data

,id,original_title,genres
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller
2,262500,Insurgent,Adventure|Science Fiction|Thriller
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy
4,168259,Furious 7,Action|Crime|Thriller
...,...,...,...
10861,21,The Endless Summer,Documentary
10862,20379,Grand Prix,Action|Adventure|Drama
10863,39768,Beregis Avtomobilya,Mystery|Comedy
10864,21449,"What's Up, Tiger Lily?",Action|Comedy
10865,22293,Manos: The Hands of Fate,Horror

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv=CountVectorizer(max_features=10866,stop_words='english')

In [16]:
cv

CountVectorizer(max_features=10866, stop_words='english')

In [17]:
new_data=movies['genres']+movies['overview']

In [18]:
new_data

0        Action|Adventure|Science Fiction|ThrillerTwent...
1        Action|Adventure|Science Fiction|ThrillerAn ap...
2        Adventure|Science Fiction|ThrillerBeatrice Pri...
3        Action|Adventure|Science Fiction|FantasyThirty...
4        Action|Crime|ThrillerDeckard Shaw seeks reveng...
                               ...
10861    DocumentaryThe Endless Summer, by Bruce Brown,...
10862    Action|Adventure|DramaGrand Prix driver Pete A...
10863    Mystery|ComedyAn insurance agent who moonlight...
10864    Action|ComedyIn comic Woody Allen's film debut...
10865    HorrorA family gets lost on the road and stumb...
Length: 10866, dtype: object

In [19]:
new_data=movies

In [20]:
new_data

,id,original_title,genres,overview,Tags
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|ThrillerTwent...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|ThrillerAn ap...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|ThrillerBeatrice Pri...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|FantasyThirty...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|ThrillerDeckard Shaw seeks reveng...
...,...,...,...,...,...
10861,21,The Endless Summer,Documentary,"The Endless Summer, by Bruce Brown, is one of ...","DocumentaryThe Endless Summer, by Bruce Brown,..."
10862,20379,Grand Prix,Action|Adventure|Drama,Grand Prix driver Pete Aron is fired by his te...,Action|Adventure|DramaGrand Prix driver Pete A...
10863,39768,Beregis Avtomobilya,Mystery|Comedy,An insurance agent who moonlights as a carthie...,Mystery|ComedyAn insurance agent who moonlight...
10864,21449,"What's Up, Tiger Lily?",Action|Comedy,"In comic Woody Allen's film debut, he took the...",Action|ComedyIn comic Woody Allen's film debut...
10865,22293,Manos: The Hands of Fate,Horror,A family gets lost on the road and stumbles up...,HorrorA family gets lost on the road and stumb...

In [21]:
new_data=movies[['id','original_title','genres','overview']]

In [22]:
new_data

,id,original_title,genres,overview
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...,...
10861,21,The Endless Summer,Documentary,"The Endless Summer, by Bruce Brown, is one of ..."
10862,20379,Grand Prix,Action|Adventure|Drama,Grand Prix driver Pete Aron is fired by his te...
10863,39768,Beregis Avtomobilya,Mystery|Comedy,An insurance agent who moonlights as a carthie...
10864,21449,"What's Up, Tiger Lily?",Action|Comedy,"In comic Woody Allen's film debut, he took the..."
10865,22293,Manos: The Hands of Fate,Horror,A family gets lost on the road and stumbles up...

In [23]:
new_data['Tags']=new_data['genres']+new_data['overview']

In [24]:
new_data

,id,original_title,genres,overview,Tags
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|ThrillerTwent...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|ThrillerAn ap...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|ThrillerBeatrice Pri...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|FantasyThirty...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|ThrillerDeckard Shaw seeks reveng...
...,...,...,...,...,...
10861,21,The Endless Summer,Documentary,"The Endless Summer, by Bruce Brown, is one of ...","DocumentaryThe Endless Summer, by Bruce Brown,..."
10862,20379,Grand Prix,Action|Adventure|Drama,Grand Prix driver Pete Aron is fired by his te...,Action|Adventure|DramaGrand Prix driver Pete A...
10863,39768,Beregis Avtomobilya,Mystery|Comedy,An insurance agent who moonlights as a carthie...,Mystery|ComedyAn insurance agent who moonlight...
10864,21449,"What's Up, Tiger Lily?",Action|Comedy,"In comic Woody Allen's film debut, he took the...",Action|ComedyIn comic Woody Allen's film debut...
10865,22293,Manos: The Hands of Fate,Horror,A family gets lost on the road and stumbles up...,HorrorA family gets lost on the road and stumb...

In [25]:
vector=cv.fit_transform(new_data['Tags'].values.astype('U')).toarray()

In [26]:
vector.shape

(10866, 10866)

Cosine Similarity

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
similarity=cosine_similarity(vector)

In [29]:
similarity

array([[1.        , 0.18389243, 0.16151457, ..., 0.        , 0.07744031,
        0.        ],
       [0.18389243, 1.        , 0.09759001, ..., 0.        , 0.16376789,
        0.        ],
       [0.16151457, 0.09759001, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.07744031, 0.16376789, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [30]:
new_data[new_data['original_title']=="The Godfather"]

,id,original_title,genres,overview,Tags
7269,238,The Godfather,Drama|Crime,"Spanning the years 1945 to 1955, a chronicle o...","Drama|CrimeSpanning the years 1945 to 1955, a ..."

In [31]:
new_data[new_data['original_title']=="The Godfather"].index[0]

7269

In [32]:
new_data[new_data['original_title']=="Jurassic World"].index[0]

0

In [33]:
new_data

,id,original_title,genres,overview,Tags
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|ThrillerTwent...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|ThrillerAn ap...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|ThrillerBeatrice Pri...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|FantasyThirty...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|ThrillerDeckard Shaw seeks reveng...
...,...,...,...,...,...
10861,21,The Endless Summer,Documentary,"The Endless Summer, by Bruce Brown, is one of ...","DocumentaryThe Endless Summer, by Bruce Brown,..."
10862,20379,Grand Prix,Action|Adventure|Drama,Grand Prix driver Pete Aron is fired by his te...,Action|Adventure|DramaGrand Prix driver Pete A...
10863,39768,Beregis Avtomobilya,Mystery|Comedy,An insurance agent who moonlights as a carthie...,Mystery|ComedyAn insurance agent who moonlight...
10864,21449,"What's Up, Tiger Lily?",Action|Comedy,"In comic Woody Allen's film debut, he took the...",Action|ComedyIn comic Woody Allen's film debut...
10865,22293,Manos: The Hands of Fate,Horror,A family gets lost on the road and stumbles up...,HorrorA family gets lost on the road and stumb...

In [34]:
distance=sorted(list(enumerate(similarity[3])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].original_title)

Star Wars: The Force Awakens
Star Wars
The Empire Strikes Back
Ghostbusters II
Teenage Mutant Ninja Turtles II: The Secret of the Ooze

In [35]:
def recommend(movies):
    index=new_data[new_data['original_title']==movies].index[0]
    distance=sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].original_title)

In [36]:
recommend("Iron Man")

Iron Man
Iron Man 3
The Colony
The 6th Day
Marvel One-Shot: Item 47

In [37]:
recommend("The Dark Knight")

The Dark Knight
The Dark Knight Rises
Ricochet
Jerusalema
Sherlock Holmes: A Game of Shadows

In [38]:
import pickle

In [39]:
pickle.dump(new_data,open('movies_list.pkl','wb'))

In [40]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [41]:
pickle.load(open('movies_list.pkl','rb'))

,id,original_title,genres,overview,Tags
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|ThrillerTwent...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|ThrillerAn ap...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|ThrillerBeatrice Pri...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|FantasyThirty...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|ThrillerDeckard Shaw seeks reveng...
...,...,...,...,...,...
10861,21,The Endless Summer,Documentary,"The Endless Summer, by Bruce Brown, is one of ...","DocumentaryThe Endless Summer, by Bruce Brown,..."
10862,20379,Grand Prix,Action|Adventure|Drama,Grand Prix driver Pete Aron is fired by his te...,Action|Adventure|DramaGrand Prix driver Pete A...
10863,39768,Beregis Avtomobilya,Mystery|Comedy,An insurance agent who moonlights as a carthie...,Mystery|ComedyAn insurance agent who moonlight...
10864,21449,"What's Up, Tiger Lily?",Action|Comedy,"In comic Woody Allen's film debut, he took the...",Action|ComedyIn comic Woody Allen's film debut...
10865,22293,Manos: The Hands of Fate,Horror,A family gets lost on the road and stumbles up...,HorrorA family gets lost on the road and stumb...